<h1>edit</h1>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<br>
<div class="container">
    <form method="POST">
    {% csrf_token %}
	  <h4>제목: </h4>
	  <input type="text" name="title" value="{{todo.title}}">
	  <br>
	  <br>
	  <h4>본문: </h4>
	  <textarea cols=40 rows=10 name="content" value="{{todo.content}}">{{todo.content}}</textarea>
	  <br>
      <br>
      <h4>우선순위</h4>
      <select name="priority">
        {% if todo.priority == 2 %}
            <option value="2" selected="selected"> 매우 급함</option>
            <option value="1"> 급함 </option>
            <option value="0"> 보통 </option>
            
        {% elif todo.priority == 1 %}
            <option value="2"> 매우 급함</option>
            <option value="1" selected="selected"> 급함 </option>
            <option value="0"> 보통 </option>
        
        {% else %}
            <option value="2"> 매우 급함</option>
            <option value="1"> 급함 </option>
            <option value="0" selected="selected"> 보통 </option>
        
        {% endif %}
      </select>
      <h4>마감기한</h4>
      <input type="date" name="due" value="{{todo.due}}">
      <br>
      <br>
      <input class="btn btn-dark" type="submit" value="제출하기">
  </form>
</div>