{% extends 'base.html' %}

{% block content %}
  <h1 style= "margin: 0.5em 0em 0.5em 0em;">NEW</h1>
  
  <form method="POST" action="{% url 'create' %}">
    {% csrf_token %}
    <div class="was-validated"> 
      <label for="title" class="col-sm-2 col-form-label"><h3>Title</h3></label>
      <input class="form-control is-invalid" type="text" id="title" name="title" required >
      <small id="optionHelp" class="form-text text-muted">필수항목 입니다</small>
    </div>

    <div class="form-group">
      <label for="content" class="col-sm-2 col-form-label"><h3>Content</h3></label>
      <textarea class="form-control" name="content" rows="10"></textarea>
    </div>
    
    <div class="form-group">
      <label for="priority" class="col-sm-2 col-form-label"><h3>Priority</h3></label>
      <select class="form-control" name="priority">
        <option value="2"> 매우 급함</option>
        <option value="1"> 급함 </option>
        <option value="0" selected="selected">보통</option>
      </select>
    </div>

    <div class="form-group">
      <input type="checkbox" name="option" value="checked"/>
      <label for="option" class="col-sm-2 col-form-label"><h4>D-day</h4></label>
      <small id="optionHelp" class="form-text text-muted">D-day 설정 시 <strong style="color:lightcoral">반드시</strong> 체크하세요</small>
      <br>
      <input class="form-control" type="date" name="due">
    </div>
    <input class="btn btn-dark" type="submit" value="제출하기">
  </form>
{% endblock %}